Source: lwatcher
Section: admin
Priority: extra
Maintainer: Pavel Vorobyov <viert@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://github.com/viert/lwatcher.git

Package: lwatcher
Architecture: all
Depends: python, python-tokenparser, python-yaml, python-flask, python-dateutil
Description: LWatcher is a logwatcher daemon who parses portions of logs eventually, do maths with the data and keeps the results until next portion's arrived
